[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "gif-h"]
	path = gif-h
	url = https://github.com/charlietangora/gif-h.git
